.wrg-footer {
    background-color: #0F2421;
    padding: 60px 0;
    color: #fff;
    &__sec {
        display: flex;
        justify-content: space-between;
    }
    &__contents {
        width: 40%;
    }
    &__input,
    &__label {
        display: none;
    }
    &__cnt {
        display: flex;
        width: 100%;
    }
    &__list {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-left: 40px;
    }
    &__logo-txt {
        font-size: 50px;
        line-height: 56px;
        font-weight: 500;
        display: inline-block;
        margin-bottom: 32px;
    }
    &__copy-txt {
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        &--mob {
            display: none;
        }
    }
    &__list-head {
        margin-bottom: 20px;
        display: block;
    }
    &__item {
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        margin-bottom: 15px;
        transition: all 0.3s;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            -webkit-text-stroke-width: 0.6px;
            -webkit-text-stroke-color: #fff;
        }
    }
    &__address {
        font-size: 14px;
        line-height: 26px;
        font-weight: 300;
    }
}

@include tablet {
    .wrg-footer {
        &__logo-txt {
            font-size: 42px;
            line-height: 48px;
            margin-bottom: 24px;
        }
        &__contents {
            width: 60%;
        }
    }
}

@include mobile {
    .wrg-footer {
        padding: 32px 0;
        &__sec {
            flex-direction: column;
        }
        &__contents {
            width: 100%;
        }
        &__logo-txt {
            font-size: 34px;
            line-height: 40px;
            margin-bottom: 20px;
        }
        &__cnt {
            display: none;
            margin-top: 24px;
        }
        &__list {
            width: 100%;
            padding-left: 0;
            margin-bottom: 24px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__list-head {
            margin-bottom: 15px;
        }
        &__copy-txt {
            &--desk {
                display: none;
            }
            &--mob {
                display: block;
                margin-top: 20px;
            }
        }
        &__input {
            position: absolute;
            width: 1px;
            height: 1px;
            visibility: hidden;
            &:checked {
                ~.wrg-footer__cnt {
                    display: block;
                }
                ~.wrg-footer__label {
                    svg {
                        transform: rotate(-180deg);
                    }
                }
            }
        }
        &__label {
            display: block;
            color: #fff;
            cursor: pointer;
            margin: 0;
            svg {
                width: 15px;
                height: 9px;
                margin-left: 5px;
                margin-top: -3px;
                transition: all 0.3s;
            }
        }
    }
}

@include ie-fix {
    .wrg-footer__item {
        &:hover {
            text-shadow: 0.30px -0.30px 0 #fff, 0.30px 0.30px #fff;
        }
    }
}